footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #001641;
    gap: 20px;
}

footer p {
    color: white;
}

a {
    color: white;
}