.categoria_peliculas {
    background-color: #001641;
}

.peliculas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 0px;
    height: auto;
}

.pelicula {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    border-radius: 10px;
    background-color: #030f27;
    box-shadow: inset 0 0 10px;
    height: 400px;
    padding: 20px 0px;
}

.pelicula h2 {
    color: white;
}

.pelicula img {
    border: 2px white solid;
}

button {
    cursor: pointer;
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border: none;
}