<div class="detalle">
    <div class="pelicula">
        <div class="imagen">
            <img [src]="pelicula.url_pelicula">
        </div>
        <div class="contendio">
            <div class="informacion">
                <h2>Nombre: {{pelicula.nombre_pelicula}}</h2>
                <p>Director: {{pelicula.director}}</p>
                <p>Taquilla: {{pelicula.taquilla}}</p>
            </div>
            <div class="descripcion">
                <p>{{pelicula.descripcion_pelicula}}</p>
            </div>
        </div>
    </div>
</div>